logs/
Servers/
.metadata/
.recommenders/
Class/
RemoteSystemsTempFiles/
chatLine/target/
chatLine/bin/
chatLine/.settings/
chatLine/.classpath
chatLine/.project
chatLine/.springBeans
chatLine/.tern-project
chatLine/src/main/resources/hibernate.properties